<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/Main2.css">
    <script src="https://kit.fontawesome.com/2437fb8d10.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <title>Online Pharmacy</title>
</head>
<body>
    <!-- navbar -->
    <header>
        <div class="logo">
            <i class="fa-solid fa-bucket"></i>
            Pharma
        </div>
        <div class="menu">
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="./profile" >Profile</a></li>
                <li><a href="#" >Appointment</a></li>
                <li><a href="./search" >Search</a></li>
                <li><a href="#" >Bill</a></li>
                
                
            </ul>
        </div>
        <div class="login">
            <button type="submit">Log in</button>
            <button type="submit">Sign in</button>
        </div>


    </header> 
    <div class="slide">
        <div class="banner1">
            <img src="images/syringe-g19048f2ca_1280.jpg" alt="Not supporing" class="img">
            <div class="text-box">
                <h1>MediGuardian</h1>
                <span></span>
                <p>Life-sustaining elixirs. Dispensed with precision, empowering health and wellness. Pharmacists, gatekeepers of well-being, harness knowledge and compassion to ensure safe, effective medication use. Pharmacy medicine: the cornerstone of healing and vitality.</p>
                <button type="submit" class="btn1">Learn more</button>
            </div>
        </div>
        <div class="banner2">
            <img src="images/vitamins-g2c34244ac_1280.jpg" class="img">
            <div class="text-box">
                <h1>BioHealer</h1>
                <span></span>
                <p>Nature's remedy. Harnessing the power of botanicals, pure ingredients, and sustainable practices. BioHealers, guardians of holistic health, provide organic solutions for wellness. Trusted allies in promoting natural healing, restoring balance, and nurturing the body, mind, and spirit.</p>
                <button type="submit" class="btn1">Learn more</button>
            </div>
        </div>
        <div class="banner3">
            <img src="images/pexels-nataliya-vaitkevich-7615571.jpg" class="img">
            <div class="text-box">
                <h1>MediSeeker</h1>
                <span></span>
                <p>Ensuring financial stability, accurate reimbursement, and quality care through precise documentation, compliance, and efficient processing. Vital for pharmacies to thrive in the healthcare landscape.</p>
                <button type="submit" class="btn1">Learn more</button>
            </div>
        </div>
        <div class="banner4">
            <img src="images/dollar-g302c8f48f_1280.jpg" class="img">
            <div class="text-box">
                <h1>BillSaver</h1>
                <span></span>
                <p>The quest for knowledge and solutions. MediSeeker, a relentless explorer of medical information, delves into vast databases, research papers, and clinical resources. Armed with expertise and curiosity, they navigate the sea of knowledge guiding healthcare decisions with precision and accuracy.</p>
                <button type="submit" class="btn1">Learn more</button>
            </div>
        </div>


    </div>
    
    <div id="box">
        <h2>Our Top salling Product</h2>
        
        <div class="inside-card" style="display: flex; justify-content: space-around;">
            <% for (let i = 0; i < data.length; i++) { %>
                <div class="card" style="width: 30%; height: 50vh; border: 2px solid blue;">
                <img src="images/3576424_65886.jpg" alt="Product Image">
                <h3>Name:    <%= data[i].Pro_name %></h3>
                <p>Price:    $<%= data[i].Pro_price %></p>
                <button class="add-to-cart-btn">Add to Cart</button>
                </div>
            <% };
             %>
            </div>
    </div>
    <div class="intro">
        <h2>Our Moto</h2>
       <div class="box1">
            <div class="intro-text">
                <h2>First Mission</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatum magni nam nulla, inventore provident vel repellat consequatur aliquid a architecto sed explicabo laboriosam ratione amet eveniet eum pariatur blanditiis ut laborum itaque eius illum placeat rerum? Mollitia fugit magnam debitis amet, soluta molestiae corporis inventore? Nobis earum nihil id nisi, aut fuga doloribus!</p>

            </div>
            <div class="right">
                <h2>Second Mission</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatum magni nam nulla, inventore provident vel repellat consequatur aliquid a architecto sed explicabo laboriosam ratione amet eveniet eum pariatur blanditiis ut laborum itaque eius illum placeat rerum? Mollitia fugit magnam debitis amet, soluta molestiae corporis inventore? Nobis earum nihil id nisi, aut fuga doloribus!</p>

            </div>

        </div>


    </div>
    <footer>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore tenetur nisi porro iure error. Nisi minus illo quo iusto praesentium laudantium nihil tempore eius nulla ex earum itaque architecto vitae in quam, enim fugiat hic quibusdam sit. Quisquam, est. Esse, asperiores eos fugiat aliquam eveniet harum ad? Eligendi aspernatur dignissimos asperiores voluptatem ad culpa praesentium facilis?</p>

    </footer>
        
    
    
    

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="./jason.js"></script>
    <script src="./index.js"></script>
    <script src="./index2.js"></script>
    
</body>
</html>